.center {
    text-align: center;
}

.table > thead .fixed-th {
    background-color: #e2e2e2;
}

button.btn {
    margin: 1rem;
}

table.table {
    width: 95%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.table td.fixed-td {
    background-color: #f8f9fa;
}

.table .interact-td {
    cursor: pointer;
    font-weight: 500;
}

.table .interact-td:hover {
    background-color: #f8f9fa;
}

.table td.dark-interact-td {
    cursor: pointer;
    font-weight: 500;
}

.table td.dark-interact-td:hover {
    filter: brightness(85%);
    background-color: #e2e2e2;
}

.table .alt-row td {
    background-color: #e2e2e2;
}

.table .alt-row td.fixed-td {
    filter: brightness(85%);
    background-color: #f8f9fa;
}

.full-size-ontology {
    height: 500px;
}

.page-number-input {
    width: 4em;
}
